*{
    margin: 0;
    padding: 0;
}

.full-screen-body{
    background-color: #333333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_login_form_holder{
    background-color: #111111;
    padding: 80px 60px 40px;
    border-radius: 20px;
}

.admin_login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin_login_form h1{
    color: whitesmoke;
    font-size: 48px;
    margin-bottom: 20px;
}

form input{
    width: 650px;
    padding: 15px 10px;
    border-radius: 50px;
    border:  none;
    margin-bottom: 15px;
    font-size: 16px;
}

form button{
    background-color: #0066FF;
    color: whitesmoke;
    padding: 18px 50px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 15px;
}

.button-holder{
    display: flex;
    justify-content: center;

}

form span{
    color: whitesmoke;
    font-size: 18px;
    margin-left: 15px;
}