*{
    margin: 0;
    padding: 0;
}

.full-screen-body{
    background-image: url('../img/background 2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 1366px;
}

.instructor-login-transbox{
    background-color: rgba(30, 30, 30, 0.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructor-login-form-holder{
    background-color: rgba(27, 27, 27, 0.7);
    padding: 80px 60px;
    border-radius: 20px;
}

.instructor-login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.instructor-login-form h1{
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 20px;
}

form input{
    width: 650px;
    padding: 15px 10px;
    border-radius: 50px;
    border:  none;
    margin-bottom: 15px;
    font-size: 16px;
}

form button{
    background-color: #198754;
    color: whitesmoke;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

form span{
    color: whitesmoke;
    font-size: 18px;
    margin-left: 15px;
}