*{
    margin: 0;
    padding: 0;
}

.landing-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 30px;
}

.major-container h1{
    font-family: monospace;
    font-size: 48px;
    color: #198754;
    text-align: center;
    margin-bottom: 40px;
}

.container-link-holder{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.container-link-card{
    width: 250px;
    height: 160px;
    border: 1px solid #198754;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-link-holder a{
    color: #198754;
    text-decoration: none;
}

.container-link-card span{
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.assigned-classes-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
}

.assigned-classes-content h1{
    font-family: monospace;
    font-size: 48px;
    color: #198754;
    font-weight: bolder;
    margin-bottom: 20px;
}

.assigned-courses-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    border-bottom: 3px #198754 solid;
    border-radius: 25px;
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.assigned-course-detail{
    color: #198754;
    font-size: 22px;
}

.assigned-course-detail .code{
    font-weight: bolder;
}

.number-of-students{
    color: #198754;
    font-size: 22px;
}

.attend-classes-cards{
    border: 2px solid #198754;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 35px;
    padding: 0 20px;
}

.attend-classes-content{
    margin-top: 30px;
}

.attend-classes-content-holder{
    display: flex;
    justify-content: center;
}

.attend-classes-content h1{
    color: #198754;
    font-family: monospace;
    font-size: 36px;
    text-align: center;
}

.attend-classes-cards{
    font-family: Arial, Helvetica, sans-serif;
    color: #c65113;
}

.attend-classes-cards-holder{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

.attend-classes-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.attend-classes-heading .code{
    font-weight: bolder;
    font-size: 18px;
}

.attend-classes-heading .name{
    text-align: right;
}

.class-date{
    font-size: 20px;
    margin-bottom: 20px;
}

.class-timing{
    font-size: 14px;
    margin-bottom: 20px;
}

.attend-class-button{
    display: flex;
    justify-content: end;
}


.attend-class-button button{
    padding: 14px 22px;
    border-radius: 30px;
    font-size: 18px;
    color: whitesmoke;
    background: #198754;
    border: none;
    cursor: pointer;
}

.attend-class-button button:hover{
    transform: scale(1.07);
}

.attend-class-button button:active{
    transform: scale(.97);
}

.text-if-nothing{
    text-align: center;
    font-family: monospace;
    font-size: 26px;
    margin: 60px;
    color: #198754;
}