
{% extends 'adding_form_template.html' %}

{% block content %}
    <div class="student-head-form-container">
        <div class="student-main-form-container">
            <div class="student-main-form-container-text">
                <h1>Register Staffs Here</h1>
            </div>
            <form action="{{url_for('admin.add_staff')}}" method="post" id="addStaff" class="add-student-form">
                <input type="text" name="staff_name" id="staff_name" required placeholder="Staff Name">
                <input type="text" name="staff_reg_num" id="staff_reg_num" required placeholder="Staff Registration Number">
                <input type="tel" name="tel_num" id="tel_num" required placeholder="Phone Number">
                <input type="email" name="email" id="email" required placeholder="Email">
                <input type="text" name="department_id" id="department_id" required placeholder="Department Id">
                <input type="hidden" name="staff_image" id="staff_image">
                <div class="video-image-holder" id="video-image-holder">
                    <video id="video" width="340" height="340" autoplay></video>
                    <button id="capture-btn" type="button">Capture</button>
                    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
                </div>
                <button type="submit" id="submit-btn">Submit</button>
                <script src="{{url_for('admin.static', filename='js/staff.js')}}"></script>
            </form>
        </div>
    </div>
{% endblock %}