{% extends 'adding_form_template.html' %}

{% block content %}
    <div class="generic-head-form-container">
        <div class="generic-main-form--container">
            <div class="generic-main-form-container-text">
                <h1>Add New Semesters Here</h1>
            </div>
            <form action="{{url_for('admin.add_semester')}}" method="post" id="addSemester" class="generic-form">
                <input type="date" name="semester_start" id="semester_start" required placeholder="Semester Start">
                <input type="date" name="semester_end" id="semester_end" required placeholder="Semester End">
                <input type="text" name="session_id" id="session_id" required placeholder="Session Id">
                <button type="submit">Submit</button>
                {{message}}
            </form>
        </div>
    </div>

{% endblock %}