<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('admin.static', filename='css/admin_add_form.css')}}">
</head>
<body style="display:flex; justify-content:center;align-items:center;">
    <div class="adding-form-containers">
        {% block content  %}
    
        {% endblock %}
    </div>
    <p>{{message}}</p>
</body>
</html>