<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('admin.static', filename='css/admin_login.css')}}">
</head>
<body>
    <div class="full-screen-body">
        <div class="admin_login_form_holder">
            <div class="admin_login_form">
                <h1>Admin Panel</h1>
                <form action="{{url_for('admin.index')}}" id="adminLogin" method="post">
                    <span>Username</span>
                    <p><input type="text" name="username" id="username" required placeholder="Username" autocomplete="off"></p>
                    <span>Password</span>
                    <p><input type="text" name="password" id="password" required placeholder="Password" autocomplete="off"></p>
                    <div class="button-holder">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</body>
</html>